*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    background-color: #1f283e;
}
H1{
    color: #fff;
    text-align: center;
}
h3{
    text-align: center;
}
.contenedor-header{

    background: #1f283e;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
form{
    background-color: #3c5698;
    color:#fff;
    
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #00ff2f;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #00b7ff;
}
.nav-responsive{
    background-color: #00b7ff;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
